.shopWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .productsList {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .productCategory {
      margin-top: 20px;

      .categoryTitle {
        display: flex;
        width: 560px;
        align-items: center;

        .categoryButtons {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-left: 10px;

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      .products {
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .shopWrapper {
    .productsList {
      width: 100%;

      .productCategory {
        width: 100%;

        .categoryTitle {
          width: 100%;
          justify-content: center;
        }

        .products {
          width: 100%;
          justify-content: center;
          gap: 5px;

          .cardProduct {
            width: 170px;
            height: 345px;
            margin: 10px 0 0 0;
            padding: 7px;

            a {
              font-size: 9px;
            }

            .favoritesBtnWrap {
              right: 3%;
            }

            .cardProductInfo {
              font-size: 11px;

              // .buyButton {
              //   width: 160px;
              //   height: 24px;
              // }
            }
          }
        }
      }
    }
  }
}
