.shopWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .productsList {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .productCategory {
      margin-top: 20px;

      .categoryTitle {
        display: flex;
        width: 560px;
        align-items: center;

        .categoryButtons {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-left: 10px;

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      .products {
        justify-content: flex-start;
      }
    }
  }
}
