.pagination {
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  .paginationBtnBlock {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .paginationButtons {
      background-color: transparent;
      color: #000;
    }

    .paginationButtons.active {
      background-color: #008ec8;
    }
  }
}
