.basketItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  padding: 15px 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);

  .basketItemInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    p {
      width: 80%;
    }
  }

  .basketCostBlock {
    display: flex;
    align-items: center;
    gap: 20px;

    .quantityControlBtn {
      display: flex;
      align-items: center;

      .quantity {
        padding: 0 15px;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
      }

      .activeBtnIncreaseQuantity,
      .disabledBtnIncreaseQuantity {
        background-color: transparent;
        width: 50px;
        height: 30px;
      }

      .activeBtnIncreaseQuantity {
        svg {
          fill: rgb(45, 45, 45);
          stroke: rgb(45, 45, 45);
          width: 20px;
        }
      }

      .disabledBtnIncreaseQuantity {
        svg {
          fill: rgb(232, 232, 232);
          stroke: rgb(232, 232, 232);
          width: 20px;
        }
        pointer-events: none;
      }
    }

    .price {
      font-weight: 700;
    }

    .deleteBtn {
      background-color: transparent;
      width: 40px;
      height: 40px;
    }
  }

  img {
    max-height: 90px;
  }
}

@media screen and (max-width: 1024px) {
  .basketItem {
    gap: 10px;
    flex-direction: column;

    .basketItemInfo {
      gap: 15px;

      p {
        font-size: 13px;
      }
    }
  }
}
