.homeWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  .catalogButton {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #008ec8;
    margin: 15px 0;
    border-radius: 5px;
    position: relative;
    background-color: #008ec8;
    font-size: 18px;

    .svgWrapper {
      position: absolute;
      left: 3%;
    }
  }

  .productsList {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .productCategory {
      margin-top: 20px;

      .categoryTitle {
        display: flex;
        width: 560px;
        align-items: center;

        .categoryButtons {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-left: 10px;

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      .products {
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .homeWrapper {
    .productsList {
      width: 100%;

      .productCategory {
        width: 100%;

        .categoryTitle {
          width: 100%;
          justify-content: center;
        }

        .products {
          width: 100%;
          justify-content: center;
          gap: 5px;

          .cardProduct {
            width: 170px;
            height: 345px;
            margin: 10px 0 0 0;
            padding: 7px;

            a {
              font-size: 9px;
            }

            .favoritesBtnWrap {
              right: 3%;
            }

            .cardProductInfo {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .homeWrapper {
    .catalogButton {
      flex: 0.9;
    }
  }
}
