.controlBlockWrapper {
  display: flex;
  justify-content: center;
  background-color: #212526;
  padding: 6px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .controlBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    position: relative;

    .catalogButton {
      font-size: 14px;
      letter-spacing: 1px;
      width: 200px;
      height: 50px;
      margin: 0 15px 0 0;
      flex: none;
      border-radius: 3px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid #008ec8;
      margin: 15px 0;
      &:hover {
        background-color: #008ec8;
      }
      svg {
        position: static;
      }
    }

    .searchBar {
      display: flex;
      align-items: baseline;
      flex: 0.8;

      .searchButton {
        width: 70px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .controlBlockWrapper {
    .controlBlock {
      .catalogButton {
        width: 100%;
        border: none;

        &:hover {
          background-color: transparent;
        }
      }

      .searchBar {
        flex: 1;
        min-width: 30%;
        position: relative;
        margin: 0 5px;

        .searchButton {
          position: absolute;
          background-color: transparent;
          right: 1%;
          top: 3%;
          width: 34px;
          height: 37px;
        }
      }
    }
  }
}
