.navWrapper {
  display: flex;
  justify-content: center;
  background-color: #000000;
  margin-top: 92px;

  .controlPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 15px 0;

    .navBar {
      ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
          margin-right: 1.5vw;

          a {
            text-decoration: none;
            color: #fff;

            &:hover {
              color: #008ec8;
            }
          }
        }
      }
    }

    .contacts {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      p {
        margin-left: 30px;
        span {
          color: #008ec8;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navWrapper {
    display: none;
  }
}
