* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #212526;

  &.mobileMenuOpen {
    overflow: hidden;
  }

  &.categoryMenuOpen {
    overflow: hidden;
  }

  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;

    main {
      flex: 1;
      background-color: #fff;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1024px) {
  html,
  body {
    #root {
      main {
        padding-top: 52px;
      }
    }
  }

  // body.mobileMenuOpen {
  //   overflow: hidden;
  // }
}
